#lunr-facets {
  width: 30%;
  float: left;
}
#lunr-results {
  width: 60%;
  float: right;
  padding-left: 10%;
}
#lunr-input {
  height: 31px;
  padding: 0px 5px;
  font-size: 17px;
  line-height: 33px;
  width: 30%;
}
#lunr-facets .active:after {
  content: '*';
}